html {
    background: url("../images/batman-instruction.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}


.title {
    text-align: center;
    width: 100%;
    height: 70px;
    font-weight: bolder;
    font-size: 50px;
    color: rgba(185, 236, 185, 0.17)
}

.instruction, .example {
    float: left;
    box-sizing: border-box;
}

.instruction {
    font-family: Courier, monospace;
    color: white;
    height: 30%;
    width: 38%;
    font-size: 22px;
    font-weight: bolder;
    margin-right: 270px
}

.example {
    font-family: Courier, monospace;
    color: white;
    height: 30%;
    width: 38%;
    font-size: 22px;
    font-weight: bolder;
}

.example table, th, td {
    border: 1px solid white;
}

.begin {
    width: 100%;
    height: 120px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#beginBtn {
    height: 40px;
    width: 100px;
}

.madeBy {
    position: absolute;
    bottom: auto;
    left: 0;
    width: 100%;
    text-align: center;
    font-size: 30px;
    font-weight: bolder;
}

@font-face {

    font-family: 'BatmanForeverOutline';
    font-style: normal;
    font-weight: normal;
    src: url('../fonts/batmfo__.woff') format('woff');
}

@font-face {
    font-family: 'BatmanForeverAlternate';
    color: #0000FF;
    font-style: normal;
    font-weight: normal;
    src: local('BatmanForeverAlternate'), url('../fonts/batmfa__.woff') format('woff');
}