body {
    padding-top: 5rem;
}
.starter-template {
    padding: 3rem 1.5rem;
    text-align: center;
}

h1{
    color:#0000FF;
}

h2{
    color:#FF0000;
}

.results{
    white-space: nowrap;
    display:  inline-flex;
}

table{
    display: inline-block;
    margin-top: 30px;

}
