<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>Spring Boot Thymeleaf Hello World Example</title>

    <link rel="stylesheet" th:href="@{webjars/bootstrap/4.2.1/css/bootstrap.min.css}"/>
    <link rel="stylesheet" th:href="@{/css/game.css}"/>

</head>

<body>


<div class="starter-template">
    <h4>SQL training game made by MarcoRy on Spring and Thymeleaf</h4>
</div>
<form th:action="@{/instruction}" method="POST">
        <textarea style="height:150px" cols="50"
                  rows="5" type="text" name="sqlQuery">
select *from heroes

        </textarea>
    <input type="submit" value="Write SQL query">
</form>
<div class="heroes">
    <table>
        <thead>
        <th>name</th>
        <th>realName</th>
        </thead>
        <tr th:each="hero: ${heroes}">
            <td th:text=" ${hero.getName()}"></td>
            <td th:text=" ${hero.getRealName()}"></td>
    </table>
    <table th:if="${becomeStories.size()}" border="2" class="becomeStories">
        <thead>
        <th>how</th>
        <th>place</th>
        </thead>
        <tr th:each="becomeStory: ${becomeStories}">
            <td th:text=" ${becomeStory.getHow()}"></td>
            <td th:text=" ${becomeStory.getPlace()}"></td>
    </table>
    <table th:if="${weapons.size()}" border="2" class="weapons">
        <thead>
        <th>weapon name</th>
        <th>characteristic</th>
        </thead>
        <tr th:each="weapon: ${weapons}">
            <td th:text=" ${weapon.getWeaponName()}"></td>
            <td th:text=" ${weapon.getCharacteristic()}"></td>
    </table>
    <table th:if="${enemies.size()}" border="2" class="enemies">
        <thead>
        <th>enemy nick</th>
        <th>enemy real name</th>
        </thead>
        <tr th:each="enemy: ${enemies}">
            <td th:text=" ${enemy.getNick()}"></td>
            <td th:text=" ${enemy.getEnemyRealName()}"></td>
    </table>
</div>

<script type="text/javascript" th:src="@{webjars/bootstrap/4.2.1/js/bootstrap.min.js}"></script>
</body>
</html>