<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Instruction</title>
    <link rel="stylesheet" th:href="@{/css/instruction.css}"/>

</head>
<body>
<div class="title" style="font-family: 'BatmanForeverAlternate'">
    INSTRUCTION
</div>

<div class="instruction">
    Hi, in this game you will finish tasks using SQL queries.
    In every mission on the upper side, you get some interesting information from Batman's world (white color of the
    font).
    Below in yellow color, you get a description of your mission and what you should do, to go to the next level.
    Under this text, you also have information about current tables and their column which you have to use in the round.
    That is all. Enjoy and have fun.
</div>

<div class="example">
    Example: TABLE: Heroes(name, real_name),
    Mission: Get all information about Catwoman
    Correct sql query: Select * from heroes where
    name= 'Catwoman'
    <br>
    Result:
    <table class="exampleTable">
        <thead>
        <th>name</th>
        <th>realName</th>
        </thead>
        <td>Catwoman</td>
        <td>Selina Kyle</td>
    </table>
</div>

<div class="begin">
    <button id="beginBtn" onclick="location.href = '/lvl-1.0'"
            class="float-left submit-button">Begin adventure
    </button>
</div>
<p class="madeBy">MADE BY MR</p>
</body>
</html>