<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <link rel="stylesheet" th:href="@{/css/lvl4.css}"/>
</head>

<body>
<div class="container">
    <div class="title" style="font-family: 'BatmanForeverAlternate'">
        LEVEL 4.0
    </div>


    <div th:replace="fragments/level-fragments.html :: info"></div>
    <div th:replace="fragments/level-fragments.html :: mission"></div>
    <div th:replace="fragments/level-fragments.html :: table-description"></div>

    <form class="sqlQuery" th:action="@{/lvl-4.0}" method="POST"
          th:if="${answerStatus=='NEUTRAL' or answerStatus=='WRONG_ANSWER'}">
        <textarea style="height:70px" cols="55"
                  rows="5" type="text" name="sqlQuery"></textarea>
        <button type="submit" th:if="${answerStatus=='NEUTRAL' or answerStatus=='WRONG_ANSWER'}">Write SQL query</button>
    </form>

    <div th:replace="fragments/level-fragments.html :: player-correct-answer"></div>

    <div class="result" th:if="${answerStatus=='CORRECT_ANSWER'}">
        <table>
            <thead>
            <th>name</th>
            <th>real_name</th>
            <th>nick</th>
            <th>enemy_real_name</th>
            </thead>
            <tr th:each="answers: ${answerList}">
                <td th:each="answer: ${answers}" th:text="${answer}"></td>
            </tr>
        </table>
    </div>
    <div class="answer">
        <div class="correctAnswer" th:if="${answerStatus=='CORRECT_ANSWER'}">
            <p>Great it is correct answer</p>
            <form class="nextRound" th:action="@{/game-finished}" method="GET">
                <button class="nextRoundBtn">Go to next round</button>
            </form>
        </div>
        <div class="wrongAnswer" th:if="${answerStatus=='WRONG_ANSWER'}">
            <p>Wrong. Try again player</p>
            <div th:replace="fragments/level-fragments.html :: player-wrong-answer"></div>
        </div>
    </div>
</div>
</body>
</html>