<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">

    <link rel="stylesheet" th:href="@{/css/lvl1.css}"/>

</head>

<body>
<div class="container">
    <div class="title" style="font-family: 'BatmanForeverAlternate'">
        LEVEL 1.3
    </div>


    <div th:replace="fragments/level-fragments.html :: info"></div>
    <div th:replace="fragments/level-fragments.html :: mission"></div>
    <div th:replace="fragments/level-fragments.html :: table-description"></div>

    <form class="sqlQuery" th:action="@{/lvl-1.3}" method="POST"
          th:if="${answerStatus=='Neutral' or answerStatus=='WrongAnswer'}">
        <textarea style="height:70px" cols="55"
                  rows="5" type="text" name="sqlQuery">
select * from heroes where name in ('Batman','Robin')
        </textarea>
        <button type="submit" th:if="${answerStatus=='Neutral' or answerStatus=='WrongAnswer'}">Write SQL query</button>
    </form>

    <div th:replace="fragments/level-fragments.html :: player-correct-answer"></div>

    <div class="result" th:if="${answerStatus=='CorrectAnswer'}">
        <table th:replace="fragments/level-fragments.html :: hero-table"></table>
    </div>
    <div class="answer">
        <div class="correctAnswer" th:if="${answerStatus=='CorrectAnswer'}">
            <p>Great it is correct answer</p>
            <form class="nextRound" th:action="@{/lvl-1.4}" method="GET">
                <button class="nextRoundBtn">Go to next round</button>
            </form>
        </div>
        <div class="wrongAnswer" th:if="${answerStatus=='WrongAnswer'}">
            <p>Wrong. Try again player</p>
            <div th:replace="fragments/level-fragments.html :: player-wrong-answer"></div>
        </div>
    </div>
</div>
</body>
</html>