<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">

    <title>Spring Boot Thymeleaf Hello World Example</title>

    <link rel="stylesheet" th:href="@{/css/lvl1.css}"/>

</head>

<body>
<div class="title" style="font-family: 'BatmanForeverAlternate'">
    INTRODUCTION
</div>


<div class="instruction" th:if="${answerStatus=='Neutral'}">
    Usually heroes hide behind the masks.
    They also have a normal live.
    Every body what's to know their personality. And you will.
    Your mission is to check the Batman's real name.
    <br>
    <div class="mission">
        MISSION: get hero name and his real name
        <br>
        TABLE: heroes (name, real_name)
    </div>
</div>

<form class="sqlQuery" th:action="@{/lvl1}" method="POST">
        <textarea style="height:50px" cols="50"
                  rows="5" type="text" name="sqlQuery">select * from heroes
        </textarea>
    <button type="submit" th:if="${answerStatus=='Neutral' or answerStatus=='WrongAnswer'}">Write SQL query</button>
</form>

<div class="result">
    <table>
        <thead>
        <th>name</th>
        <th>realName</th>
        </thead>
        <tr th:each="hero: ${heroes}">
            <td th:text=" ${hero.getName()}"></td>
            <td th:text=" ${hero.getRealName()}"></td>
    </table>
</div>
<div class="answer">
    <div class="correctAnswer" th:if="${answerStatus=='CorrectAnswer'}">
        <p>Great it is correct answer</p>
        <form class="nextRound" th:action="@{/lvl2}" method="GET">
            <button class="nextRoundBtn">Go to next round</button>
        </form>
    </div>
    <div class="wrongAnswer" th:if="${answerStatus=='WrongAnswer'}">
        <p>Wrong. Try again player</p>
    </div>
</div>
</body>
</html>