<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">

    <link rel="stylesheet" th:href="@{/css/lvl3.css}"/>

</head>

<body>
<div class="title" style="font-family: 'BatmanForeverAlternate'">
    LEVEL 11
</div>


<div class="instruction" th:if="${answerStatus=='Neutral' or answerStatus=='WrongAnswer'}">
    It is difficult to fight alone with enemy who is very strong.
    Batman's has also friends which help him many times.
    Let's meet his friends and check theirs way to become who they are.
    <br>
    <div class="mission">
        MISSION: Get all information's from table heroes;
        <br>
        TABLES: heroes
    </div>
</div>

<form class="sqlQuery" th:action="@{/lvl5}" method="POST">
        <textarea style="height:70px" cols="55"
                  rows="5" type="text" name="sqlQuery">
            select * from heroes
        </textarea>
    <button type="submit" th:if="${answerStatus=='Neutral' or answerStatus=='WrongAnswer'}">Write SQL query</button>
</form>


<div class="result" th:if="${answerStatus=='CorrectAnswer'}">
    <table>
        <thead>
        <th>name</th>
        <th>real_name</th>
        <th>nick</th>
        <th>enemy_real_name</th>
        </thead>
        <tr th:each="sampleT: ${sampleTable}">
            <td th:each="sT: ${sampleT}" th:text="${sT}"></td>
        </tr>
    </table>
</div>
<div class="answer">
    <div class="correctAnswer" th:if="${answerStatus=='CorrectAnswer'}">
        <p>Great it is correct answer</p>
        <button class="nextRoundBtn">Go to next round</button>
    </div>
    <div class="wrongAnswer" th:if="${answerStatus=='WrongAnswer'}">
        <p>Wrong. Try again player</p>
    </div>
</div>
</body>
</html>