<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">

    <title>Spring Boot Thymeleaf Hello World Example</title>

    <link rel="stylesheet" th:href="@{/css/lvl2.css}"/>

</head>

<body>
<div class="title" style="font-family: 'BatmanForeverAlternate'">
    LEVEL II
</div>


<div class="instruction" th:if="${isCorrect=='Neutral' or isCorrect=='Wrong'}">
    Some heroes born with special skills and another not.
    Do you know what happen in Batman's live to make him
    who he is? Get information about what happened and where.
    <br>
    <div class="mission">
        MISSION: get Batman name, how and place
        <br>
        TABLES: heroes (name, real_name),
        become_stories(how, place)
    </div>
</div>

<form class="sqlQuery" th:action="@{/lvl2}" method="POST">
        <textarea style="height:70px" cols="55"
                  rows="5" type="text" name="sqlQuery">
        </textarea>
    <button type="submit" th:if="${isCorrect=='Neutral' or isCorrect=='Wrong'}">Write SQL query</button>
</form>

<div class="result" th:if="${isCorrect=='Correct'}">
    <table>
        <thead th:each="hero: ${heroes}">
        <th th:if="${hero.getName()}">name</th>
        <th th:if="${hero.getRealName()}">realName</th>
        </thead>
        <tr th:each="hero: ${heroes}">
            <td th:text=" ${hero.getName()}"></td>
            <td th:if="${hero.getRealName()}" th:text=" ${hero.getRealName()}"></td>
    </table>
    <table class="becomeStories">
        <thead th:each="becomeStory: ${becomeStories}">
        <th th:if="${becomeStory.getHow()}">how</th>
        <th th:if="${becomeStory.getPlace()}">place</th>
        </thead>
        <tr th:each="becomeStory: ${becomeStories}">
            <td th:if="${becomeStory.getHow()}" th:text=" ${becomeStory.getHow()}"></td>
            <td th:if="${becomeStory.getPlace()}" th:text=" ${becomeStory.getPlace()}"></td>
    </table>
    <table th:if="${weapons.size()}" class="weapons">
        <thead>
        <th>weapon name</th>
        <th>characteristic</th>
        </thead>
        <tr th:each="weapon: ${weapons}">
            <td th:text=" ${weapon.getWeaponName()}"></td>
            <td th:text=" ${weapon.getCharacteristic()}"></td>
    </table>
    <table th:if="${enemies.size()}" class="enemies">
        <thead>
        <th>enemy nick</th>
        <th>enemy real name</th>
        </thead>
        <tr th:each="enemy: ${enemies}">
            <td th:text=" ${enemy.getNick()}"></td>
            <td th:text=" ${enemy.getEnemyRealName()}"></td>
    </table>
</div>
<div class="answer">
    <div class="correctAnswer" th:if="${isCorrect=='Correct'}">
        <p>Great it is correct answer</p>
        <form class="nextRound" th:action="@{/lvl3}" method="GET">
            <button class="nextRoundBtn">Go to next round</button>
        </form>
    </div>
    <div class="wrongAnswer" th:if="${isCorrect=='Wrong'}">
        <p>Wrong. Try again player</p>
    </div>
</div>
</body>
</html>