<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">

    <link rel="stylesheet" th:href="@{/css/lvl3.css}"/>

</head>

<body>
<div class="title" style="font-family: 'BatmanForeverAlternate'">
    LEVEL III
</div>


<div class="instruction" th:if="${answerStatus=='Neutral' or answerStatus=='WrongAnswer'}">
    It is difficult to fight alone with enemy who is very strong.
    Batman's has also friends which help him many times.
    Let's meet his friends and check theirs way to become who they are.
    <br>
    <div class="mission">
        MISSION: Get all heroes names, real_names, how and place;
        IMPORTANT: Choose query which show all heroes even them which do not
        have become_story
        <br>
        TABLES: heroes (name, real_name),
        become_stories(how, place)
    </div>
</div>

<form class="sqlQuery" th:action="@{/lvl3}" method="POST">
        <textarea style="height:70px" cols="55"
                  rows="5" type="text" name="sqlQuery">
        </textarea>
    <button type="submit" th:if="${answerStatus=='Neutral' or answerStatus=='WrongAnswer'}">Write SQL query</button>
</form>

<div class="result" th:if="${answerStatus=='CorrectAnswer'}">
    <table>
        <thead>
        <th>name</th>
        <th>realName</th>
        </thead>
        <tr th:each="hero: ${heroes}">
            <td th:text=" ${hero.getName()}"></td>
            <td th:if="${hero.getRealName()}" th:text=" ${hero.getRealName()}"></td>
    </table>
    <table class="becomeStories">
        <thead>
        <th>how</th>
        <th>place</th>
        </thead>
        <tr th:each="becomeStory: ${becomeStories}">
            <td th:if="${becomeStory.getPlace()}" th:text=" ${becomeStory.getHow()}"></td>
            <td th:if="${becomeStory.getPlace()}" th:text=" ${becomeStory.getPlace()}"></td>
    </table>
    <table class="weapons">
        <thead th:each="weapon: ${weapons}">
        <th th:text=" ${weapon.getWeaponName()}">weapon name</th>
        <th th:text=" ${weapon.getWeaponName()}">characteristic</th>
        </thead>
        <tr th:each="weapon: ${weapons}">
            <td th:text=" ${weapon.getWeaponName()}"></td>
            <td th:text=" ${weapon.getCharacteristic()}"></td>
    </table>
    <table class="enemies">
        <thead th:each="enemy: ${enemies}">
        <th th:text=" ${enemy.getNick()}">enemy nick</th>
        <th th:text=" ${enemy.getEnemyRealName()}">enemy real name</th>
        </thead>
        <tr th:each="enemy: ${enemies}">
            <td th:text=" ${enemy.getNick()}"></td>
            <td th:text=" ${enemy.getEnemyRealName()}"></td>
    </table>
</div>
<div class="answer">
    <div class="correctAnswer" th:if="${answerStatus=='CorrectAnswer'}">
        <p>Great it is correct answer</p>
        <button class="nextRoundBtn">Go to next round</button>
    </div>
    <div class="wrongAnswer" th:if="${answerStatus=='WrongAnswer'}">
        <p>Wrong. Try again player</p>
    </div>
</div>
</body>
</html>