<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>Spring Boot Thymeleaf Hello World Example</title>

        <link rel="stylesheet" th:href="@{webjars/bootstrap/4.2.1/css/bootstrap.min.css}"/>
        <link rel="stylesheet" th:href="@{/css/main.css}"/>

</head>

<body>

<nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
    <a class="navbar-brand" href="#">Mkyong.com</a>
</nav>
<main role="main" class="container">
    <div class="starter-template">
                <h1>SQL training game made by MarcoRy on Spring and Thymeleaf</h1>
        <h2>
            <span th:text="'Hello, ' + ${greetingElem}"></span>
        </h2>
    </div>
    <form th:action="@{/}" method="post">
        <input type="text" name="sqlQuery">
        <input type="submit" value="Write SQL query">
    </form>
    <table border="2">
        <thead>
        <th>name</th>
        <th>email</th>
        </thead>
        <th:block>
            <tr th:each="user: ${users}">
                <td th:text=" ${user.name}"></td>
                <td th:text=" ${user.email}"></td>
            </tr>
        </th:block>
    </table>
    </div>
</main>

<script type="text/javascript" th:src="@{webjars/bootstrap/4.2.1/js/bootstrap.min.js}"></script>
</body>
</html>