<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>Spring Boot Thymeleaf Hello World Example</title>

    <link rel="stylesheet" th:href="@{webjars/bootstrap/4.2.1/css/bootstrap.min.css}"/>
    <link rel="stylesheet" th:href="@{/css/main.css}"/>

</head>

<body>

<nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
    <a class="navbar-brand" href="#">Mkyong.com</a>
</nav>
<!--<main role="main" class="container">-->
<div class="starter-template">
    <h4>SQL training game made by MarcoRy on Spring and Thymeleaf</h4>
</div>
<form th:action="@{/}" method="post">
        <textarea style="height:200px" cols="100"
                  rows="5" type="text" name="sqlQuery">
            select * from heroes
            select * from heroes as h
            left join become_stories bs on h.become_story_id = bs.id
        </textarea>
    <input type="submit" value="Write SQL query">
</form>
<table border="2">
    <thead>
    <th>name</th>
    <th>realName</th>
    <th>how</th>
    <th>place</th>

    </thead>
    <th:block>
        <tr th:each="hero: ${heroes}">
            <td th:text=" ${hero.name}"></td>
            <td th:text=" ${hero.realName}"></td>
            <td th:text=" ${hero.becomeStory.how}"></td>
            <td th:text=" *{hero.becomeStory.place}"></td>
        </tr>
    </th:block>
</table>
</div>
<!--</main>-->

<script type="text/javascript" th:src="@{webjars/bootstrap/4.2.1/js/bootstrap.min.js}"></script>
</body>
</html>